@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Dosis:wght@800&display=swap");

// font-family: 'Cabin', sans-serif;
// font-family: 'Dosis', sans-serif;

:root {
  --text: #000;
  --light-text: #000000ab;
  --super-light-text: #00000008;
  --body-bg: #feeafa;
  --primary: #fd60dd;
  --light-primary: #ffc7f4;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cabin", sans-serif;
  background-color: var(--body-bg);
}
